
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{! Third div to display the core of the component: buttons + map }}
<div class="window">
  {{! left column to contain the button to interact with the path drawn on top of the map }}
  <div class="tool">
    <div class="grid">
      <div class="start">
        {{paper-input placeholder="Adresse de départ" type="text" value=firstAddress onChange=(action (mut firstAddress))}}
        {{#paper-button iconButton=true onClick=(action "searchFirstAddress")}}{{paper-icon "search"}}{{/paper-button}}
      </div>

      <div class="finish">
        {{paper-input placeholder="Adresse d'arrivée" type="text" value=secondAddress onChange=(action (mut secondAddress))}}
        {{#paper-button iconButton=true onClick=(action "searchSecondAddress")}}{{paper-icon "search"}}{{/paper-button}}
      </div>
      {{! Button to reset the path}}
      {{#paper-button iconButton=true onClick=(action "deleteAll")}}
        {{paper-icon "delete" size=24}}
      {{/paper-button}}

      <div class="wrapper">
        <form class="toggle_radio">
          <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option_1" {{action "setVisibilityFastest"}} checked="checked">
          <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option_2" {{action "setVisibilityRecommended"}}>
          <label for="first_toggle"><p>{{t "profile.fastest"}}</p></label>
          <label for="second_toggle"><p>{{t "profile.recommended"}}</p></label>
          <div class="toggle_option_slider">
          </div>
        </form>
      </div>

    </div>
  </div>

  <div class="info">
    <div class="info-button">
      {{#link-to "mentions" class="button"}}
        {{#paper-button iconButton=true target="_blank"}}{{paper-icon "info"}}{{/paper-button}}
      {{/link-to}}
    </div>
  </div>

  {{! Right column to contain the map }}
  <div class="map">
    {{! Event click and move are mapped on Ember action }}
    {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action "updateCenter") onClick=(action "onMapClick")}}
      {{! Map layer is using OpenStreetMap data }}
      {{tile-layer url=tileUrl attribution=attribution}}
      {{! Marker layer is composed of a marker for the first point binded with startPoint attribute and a polyline layer binded with polyline attribute }}
      {{#if firstClick}}
        {{marker-layer location=startPoint}}
      {{/if}}
      {{#if lastClickRecommended}}
        {{marker-layer location=endPoint}}
        {{#if visibilityRecommended}}
          {{#marker-layer location=middlePointRecommended}}
            {{#popup-layer}}
              <h5>{{t "profile.recommended"}}</h5>
              <h6>{{durationSR}}</h6>
              <p>{{distanceKmR}}</p>
            {{/popup-layer}}
          {{/marker-layer }}
        {{/if}}
      {{/if}}
      {{#if lastClickFastest}}
        {{#if visibilityFastest}}
          {{#marker-layer location=middlePointFastest}}
            {{#popup-layer}}
              <h5>{{t "profile.fastest" }}</h5>
              <h6>{{durationSF}}</h6>
              <p>{{distanceKmF}}</p>
            {{/popup-layer}}
          {{/marker-layer }}
        {{/if}}
      {{/if}}
      {{#if visibilityRecommended}}
        {{polyline-layer locations=polylineRecommended }}
      {{/if}}

      {{#if visibilityFastest}}
        {{polyline-layer locations=polylineFastest color="#00FF00" }}
      {{/if}}

    {{/leaflet-map}}
  </div>
</div>