{{! Third div to display the core of the component: buttons + map }}
<div class="window">
  {{! left column to contain the button to interact with the path drawn on top of the map }}
  <div class="tool">
    <div class="grid">
      <div class="start">
        {{paper-input placeholder="Adresse de départ" type="text" value=firstAddress onChange=(action (mut firstAddress))}}
        {{#paper-button iconButton=true onClick=(action "searchFirstAddress")}}{{paper-icon "search"}}{{/paper-button}}
      </div>

      <div class="finish">
        {{paper-input placeholder="Adresse d'arrivée" type="text" value=secondAddress onChange=(action (mut secondAddress))}}
        {{#paper-button iconButton=true onClick=(action "searchSecondAddress")}}{{paper-icon "search"}}{{/paper-button}}
      </div>
      {{! Button to reset the path}}
      {{#paper-button mini=true accent=true onClick=(action "deleteAll")}}
        {{paper-icon "delete" size=24}}
      {{/paper-button}}
    </div>
  </div>

  <div class="leaflet-bottom leaflet-right">
    <div class="grid">
      <div class="info-button">
        {{#paper-button iconButton=true href="http://emberjs.com/images/tomsters/original.png" target="_blank"}}{{paper-icon "info"}}{{/paper-button}}
      </div>
    </div>
  </div>

  {{! Right column to contain the map }}
  <div class="map">
    {{! Event click and move are mapped on Ember action }}
    {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action "updateCenter") onClick=(action "onMapClick")}}
      {{! Map layer is using OpenStreetMap data }}
      {{tile-layer url=tileUrl attribution=attribution}}
      {{! Marker layer is composed of a marker for the first point binded with startPoint attribute and a polyline layer binded with polyline attribute }}
      {{#if firstClick}}
        {{marker-layer location=startPoint}}
      {{/if}}
      {{#if lastClickRecommended}}
        {{marker-layer location=endPoint}}
        {{#marker-layer location=middlePointRecommended}}
          {{#popup-layer}}
            <h3>{{t "profile.recommanded"}}</h3>
            <h4>{{durationSR}}</h4>
            <p>{{distanceKmR}}</p>
          {{/popup-layer}}
     {{/marker-layer }}
      {{/if}}
      {{#if lastClickFastest}}
        {{#marker-layer location=middlePointFastest}}
          {{#popup-layer}}
            <h3>{{t "profile.fastest" }}</h3>
            <h4>{{durationSF}}</h4>
            <p>{{distanceKmF}}</p>
          {{/popup-layer}}
     {{/marker-layer }}
      {{/if}}
      {{polyline-layer locations=polylineRecommended }}
      {{polyline-layer locations=polylineFastest color="#00FF00" }}

    {{/leaflet-map}}
  </div>
</div>