{{! Third div to display the core of the component: buttons + map }}
<div class="window">
  {{! left column to contain the button to interact with the path drawn on top of the map }}
  <div class="tool">

    {{paper-input placeholder="Address" type="text" value=firstAddress onChange=(action (mut firstAddress)) icon="place"}}
    {{#paper-button iconButton=true onClick=(action "searchFirstAddress")}}{{paper-icon "search"}}{{/paper-button}}
    {{paper-input placeholder="Address" type="text" value=secondAddress onChange=(action (mut secondAddress)) icon="place"}}
    {{#paper-button iconButton=true onClick=(action "searchSecondAddress")}}{{paper-icon "search"}}{{/paper-button}}
    {{! Button to reset the path}}
    {{#paper-button fab=true raised=true mini=true accent=true onClick=(action "deleteAll")}}
      {{paper-icon "delete" size=24}}
    {{/paper-button}}
    
    <!--    Other Buttons that we have before
    {{! Button to delete just the last point added to path }}
    {{#paper-button iconButton=true disabled=isEnabled onClick=(action "deleteLastPoint")}}{{paper-icon "reply"}}{{/paper-button}}
    {{! Button to delete the last segment added to the path }}
    {{#paper-button iconButton=true disabled=isEnabled onClick=(action "deleteLastSegment")}}{{paper-icon "reply all"}}{{/paper-button}}
    {{! Display the full distance in km for the currently drawn path thanks to the bind attribute }}
    {{distance}}
    {{duration}}
    -->
  </div>
  {{! Right column to contain the map}}
  <div class="map">
    {{! Event click and move are mapped on Ember action }}
    {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action "updateCenter") onClick=(action "onMapClick")}}
      {{! Map layer is using OpenStreetMap data }}
      {{tile-layer url=tileUrl}}
      {{! Marker layer is composed of a marker for the first point binded with startPoint attribute and a polyline layer binded with polyline attribute }}
      {{#if firstClick}}
        {{marker-layer location=startPoint}}
      {{/if}}
      {{#if lastClickRecommended}}
        {{marker-layer location=endPoint}}
        {{#marker-layer location=middlePointRecommended}}
          {{#popup-layer}}
            <h3>Recommended :</h3>
            <h4>{{durationSR}}</h4>
            <p>{{distanceKmR}}</p>
          {{/popup-layer}}
        {{/marker-layer }}
      {{/if}}
      {{#if lastClickFastest}}
        {{#marker-layer location=middlePointFastest}}
          {{#popup-layer}}
            <h3>Fastest :</h3>
            <h4>{{durationSF}}</h4>
            <p>{{distanceKmF}}</p>
          {{/popup-layer}}
        {{/marker-layer }}
      {{/if}}
      {{!polyline-layer locations=polyline color="#000000"  to be able to change the color of the polyline}}
      {{polyline-layer locations=polylineRecommended }}
      {{!polyline-layer locations=polylineShortest color="#FF0000" }}
      {{polyline-layer locations=polylineFastest color="#00FF00" }}

    {{/leaflet-map}}
  </div>

  <div class="leaflet-bottom leaflet-right">
      {{#paper-speed-dial
        open=open onToggle=(action (mut open)) as |dial|}}
        {{#dial.trigger}}
          {{#paper-button fab=true}}
            {{paper-icon "brightness_4"}}
          {{/paper-button}}
        {{/dial.trigger}}

        {{#dial.actions as |actions|}}
          {{#actions.action}}
            {{#paper-button mini=true onClick=(action "changeDarkMode" true)}}
              {{paper-icon "invert_colors"}}
            {{/paper-button}}
          {{/actions.action}}

          {{#actions.action}}
            {{#paper-button mini=true onClick=(action "changeGMMode" true)}}
              {{paper-icon "filter_b_and_w"}}
            {{/paper-button}}
          {{/actions.action}}

          {{#actions.action}}
            {{#paper-button mini=true onClick=(action "changeNormalMode" true)}}
              {{paper-icon "flare"}}
            {{/paper-button}}
          {{/actions.action}}
        {{/dial.actions}}
      {{/paper-speed-dial}}
    </div>
</div>